*{
    text-align: center;
}
body{
    background-color: rgb( 131, 145, 146 );
    color: white;
}
#canvas{
    position: relative;
}
#info{
    position: relative;
}
h2{
    text-align: center;
    margin: 30px;
}
a{
color: white;
}